{% load crispy_forms_tags %}


{% block leftbar %}
<div class="col-sm-3">

</div>
{% endblock leftbar %}


{% block content %}
<div class="col-sm-9">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image">
        <button type="submit">Upload</button>
    </form>
    <div id="uploadedImage"></div>
</div>
<div class="mt-4">
    {% if inference_img %}
    <img src='data:image/jpeg;base64,{{inference_img}}' alt=”hi” width=”500″ height=”600″>
    {% else %}
    The inferenced image will be displayed here.
    {% endif %}
</div>
{% endblock content %}